$primary-color: rgb(3, 3, 143);
$secondary-color: rgb(131, 133, 195);
$tertiary-color: rgb(158, 202, 210);

body {
  background: url("/public/aaron-burden-QJDzYT_K8Xg-unsplash.jpg");
  color: $primary-color;
}

h2 {
  color: $secondary-color;
}


//decrement arrows
#break-decrement, #study-decrement {
}

//increment arrows
#break-increment, #session-increment {
  
}